@font-face {
    font-family: 'Jaapokki enchance';
    src: url('Jaapokkienchance-Regular.woff2') format('woff2'),
        url('Jaapokkienchance-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

