@font-face {
    font-family: 'Charlevoix Pro';
    src: url('CharlevoixPro-Light.woff2') format('woff2'),
        url('CharlevoixPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Charlevoix Pro';
    src: url('CharlevoixPro-Regular.woff2') format('woff2'),
        url('CharlevoixPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charlevoix Pro';
    src: url('CharlevoixPro-ExtraBold.woff2') format('woff2'),
        url('CharlevoixPro-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Charlevoix Pro';
    src: url('CharlevoixPro-Medium.woff2') format('woff2'),
        url('CharlevoixPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Charlevoix Pro';
    src: url('CharlevoixPro-Thin.woff2') format('woff2'),
        url('CharlevoixPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Charlevoix Pro';
    src: url('CharlevoixPro-Black.woff2') format('woff2'),
        url('CharlevoixPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Charlevoix Pro';
    src: url('CharlevoixPro-Bold.woff2') format('woff2'),
        url('CharlevoixPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

