$verde-1: #a4d55d;
$verde-2: #89c33f;
$verde-3:#77BC1F;
$verde-4:#00AF41;
$azul-1: #00add8;
$azul-2: #0083c1;
$azul-3:#00698F;
$rojo-1: #d51067;
$rojo-2: #B01657;
$gris-1: #D8D8D8;
$gris-2: #646569;

//override
$primary: $verde-1;
$dark: $azul-1;

$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;
