@import "variables";

.about {
  #about {
    background: linear-gradient(to right, $verde-3 0%, $verde-3 50%, #fff 50%, #fff 100%);
    color: #fff;
    p {
      font-size: 2em;
      font-size: 4.2em;
      line-height: 1.25em;
      font-weight: 700;
      padding: 0;
      margin: 0;
    }
    @media (max-width: 767px) {
      p {
        font-size: 9.2em;
      }
    }
    span {
      color: $verde-3;
    }

    &::after {
      position: absolute;
      width: 50em;
      height: 50em;
      content: "";
      border-radius: 50%;
      left: 0;
      top: 0;
      bottom: 0;
      background: $rojo-1;
      margin: auto;
      right: 0;
    }
    @media (max-width: 767px) {
      &::after {
        width: 300px;
        height: 300px;
      }
    }
    .fp-tableCell > div {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
    }
  }
  .equipo {
    .embed-responsive-item {
      background-size: cover;
      background-position: center center;
      right: 0;
      margin: auto;
      width: 70%;
      height: 70%;
    }
    p {
      font-size: 1.5em;
      color: $gris-2;
    }
    h2 {
      font-size: 5em;
      color: $azul-2;
      font-weight: 900;
    }
    h3 {
      font-size: 6em;
      color: $verde-3;
      font-weight: 900;
      text-transform: uppercase;
    }
    h4 {
      font-size: 1.5em;
    }
    .icon-instagram {
      color: $rojo-1;
    }
    .fa {
      font-size: 2.5em;
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: $gris-1;
    }
    @media (max-width: 767px) {
      padding-top: 0px !important;
      h2 {
        font-size: 9em;
      }
      h3 {
        font-size: 9em;
      }
      p {
        font-size: 4em;
      }
      h4 {
        font-size: 6.5em;
      }
      .fa {
        font-size: 8.5em;
      }
      .fp-tableCell .mt-4 {
        margin-top: 1px !important;
        margin-bottom: -10px;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      outline: none;
    }
  }

  .clientes {
    background-color: $azul-3;
    .container {
      //height: 100%;
      .row {
        height: 100%;
        .col-sm-3 {
          padding-left: 5em;
          padding-right: 5em;
          &.murela img {
            width: 70%;
          }
        }
      }
    }
    h2 {
      font-size: 5em;
      color: #fff;
      font-weight: 900;
    }

    @media (max-width: 767px) {
      h2 {
        font-size: 11em;
      }
    }
  }
}

@for $i from 1 through 120 {
  $width: $i * 16px;
  $font-size: $i * 16/120;
  @media (min-width: $width) {
    #about,
    .equipo,
    .clientes {
      font-size: #{$font-size}px;
    }
  }
}
