@import "variables";

.contact {
  height: 100vh;
  #contacto {
    background: linear-gradient(
      to right,
      $rojo-1,
      $rojo-1 66.66%,
      #fff 66.66%,
      $rojo-1 66.66%,
      #fff 66.66%,
      #fff 100%,
      #fff 100%
    );
    .form {
      background-color: $azul-2;
      border-radius: 50%;
      padding-top: 7em;

      input[type="text"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-text-fill-color: #ffffff;
        opacity: 1; /* required on iOS */
      }
      input:not([type=submit]) {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $verde-1;
        width: 100%;
        font-size: 2.1em;
        margin-bottom: 0.6em;
        font-weight: bold;
        color: #fff !important;
        &::placeholder {
          color: #fff;
        }
      }
      .btn {
        font-size: 1.2em;
        color: $azul-2;
        font-weight: bold;
        padding: 0.2em 1em;
      }
    }
    @media (max-width: 767px) {
      form {
        padding-top: 2em;
      }
    }
    h2 {
      font-size: 12.5em;
      color: #fff;
      z-index: 1;
      position: relative;
      font-weight: 900;
      margin-bottom: 0.3em;
    }
    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.8em;
    }
    .datos {
      span {
        background-color: aquamarine;
        border-radius: 50%;
        width: 3.25em;
        height: 3.25em;
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        .fa {
          font-size: 2.5em;
          padding-top: 0.2em;
          color: #fff;
        }
        &.icon-envelope {
          background-color: $verde-3;
          .fa {
            font-size: 2em;
            padding-top: 0.3em;
          }
        }
        &.icon-map {
          background-color: $verde-4;
        }
        &.icon-phone {
          background-color: $verde-1;
        }
      }
    }
  }
  .section {
    display: table;
    height: 100%;
    width: 100%;
    & > div {
      vertical-align: middle;
      display: table-cell;
    }
  }
  .video {
    background: $rojo-1;
    iframe {
      width: 100%;
      height: 100%;
      pointer-events: none;
      padding-top: 56px;
    }
  }
  .frase {
    h3 {
      font-size: 4.5em;
      color: #fff;
    }
    p {
      font-size: 2em;
      color: $gris-2;
    }
    background: linear-gradient(to right, $azul-2 0%, $azul-2 50%, #fff 50%, #fff 100%);
  }
  .directora {
    .equipo {
      .embed-responsive {
        background-size: cover;
        background-position: center center;
      }
      p {
        font-size: 2.5em;
        color: $gris-2;
      }
      h3 {
        font-size: 6em;
        color: $verde-3;
        font-weight: 900;
      }
      h4 {
        font-size: 3em;
      }
      .icon-instagram {
        color: $rojo-1;
      }
      .fa {
        font-size: 2.5em;
      }
    }
  }
}

.contact {
  @media (max-width: 575px) {
    #contacto,
    .frase {
      font-size: 7px;
    }
    #contacto {
      background: linear-gradient(
        to bottom,
        $rojo-1,
        $rojo-1 66.66%,
        #fff 66.66%,
        $rojo-1 66.66%,
        #fff 66.66%,
        #fff 100%,
        #fff 100%
      );
      h2 {
        text-align: center;
        font-size: 9em;
      }
      .btn.btn-light {
        font-size: 16px;
      }
    }
  }

  @for $i from 36 through 120 {
    $width: $i * 16px;
    $font-size: $i * 16/120;
    @media (min-width: $width) {
      #contacto,
      .frase {
        font-size: #{$font-size}px;
      }
    }
  }
}
