.interPro {
    line-height: 20pt;
    @media (max-width: 575px) {
        span {
            display: block !important;
            visibility: hidden;
            width: 100%;
            height: 1px !important;
            overflow: hidden;
        }
    }
}

/*TABLET SIZE*/
@media screen and (max-width: 1025px) and (min-width: 600px) {
    /*icono menu*/
    .navbar-toggler {
        font-size: 2.25rem;
    }

    .home #campana p {
        word-wrap: break-word;
        white-space: -moz-pre-wrap;
        white-space: nowrap;
    }
    /*tachecito*/
    .home .btn-section {
        font-size: 16em;
    }

    .about .equipo h2,
    .about .clientes h2 {
        font-size: 8em;
    }

    .about .equipo p {
        font-size: 2.5em;
    }

    .about .equipo .embed-responsive-item {
        width: 90%;
        height: 90%;
        left: 10%;
    }

    .about .equipo h4 {
        font-size: 2.5em;
    }

    .about .equipo .fa {
        font-size: 3.5em;
    }
    /*tamaño frase "Lo divertido..."*/
    #about .swiper-wrapper {
        height: 95%;
    }
}


.videoBook{
    display: block;
}
.imgTablet{
    display: none;
}
.isIpad{
    .videoBook{
        display: none;
    }
    .imgTablet{
        display: block;
    }
}

figure.wp-block-embed-vimeo.aligncenter.wp-block-embed.is-type-video.is-provider-vimeo.wp-embed-aspect-16-9.wp-has-aspect-ratio {
    text-align: center;
}