@import "variables";

.home {
  @keyframes flash {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0.5;
    }
  }
  .parallax {
    background-repeat: no-repeat;
    //background-position: 78% 56%;
    background-position: 78% center;
    background-attachment: fixed;
    background-size: 46%;
  }
  .parallax-2 {
    background-repeat: no-repeat;
    //background-position: 68% 56%;
    background-position: 68% center;
    background-attachment: fixed;
    background-size: 20%;
  }
  .parallax-3 {
    background-repeat: no-repeat;
    //background-position: 68% 56%;
    background-position: 68% center;
    background-attachment: fixed;
    background-size: 35%;
  }
  .btn-section {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    width: 1em;
    display: block;
    z-index: 1;
    margin: auto;
    color: #fff;
    font-size: 10em;
    text-align: center;
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-weight: 500;
    text-decoration: none;
    @media (max-width: 767px) {
      font-size: 33em;
    }
  }

  .btn-contacto {
    font-size: 3em;
    padding: 0.4em 1em;
    border: 1px solid;
    display: inline-block;
    margin-top: 0.5em;
    text-decoration: none;
    color: $gris-2;
    background: rgba(100, 101, 105, 0.106205);
    border-color: transparent;
    font-weight: 300;
    @media (max-width: 767px) {
      font-size: 7em;
    }
  }
  .section-1 {
    .bg-particulas {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      pointer-events: none;
      & > div {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
      }
    }
  }
  .identidad {
    background-color: $verde-1;
    .particles-js-canvas-el {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    img {
      width: 100%;
    }
    p {
      position: absolute;
      right: -3em;
      font-weight: 500;
      font-size: 2.5em;
      color: #fff;
      line-height: 1em;
    }
    .col-4 {
      z-index: 1;
      img {
        margin-right: -16em;
      }
    }
    .col-6 {
      position: relative;
    }
    &::before {
      content: "";
      position: absolute;
      background-color: $verde-3;
      width: 35em;
      height: 35em;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      transform: rotate(31deg);
    }
  }
  .campana {
    background-color: $rojo-1;

    .particles-js-canvas-el {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .col-3 {
      position: relative;
      &::after {
        position: relative;
        background-image: url(../../img/circulo.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center bottom;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 32%;
        left: -4em;
      }
    }
    img {
      width: 100%;
    }
    p {
      position: absolute;
      right: 0;
      font-weight: 500;
      font-size: 2.5em;
      color: #fff;
      line-height: 1em;
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      background-color: $rojo-2;
      width: 45em;
      height: 45em;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      border-radius: 50%;
    }
  }
  .digital {
    background-color: $azul-1;
    .particles-js-canvas-el {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    img {
      width: 100%;
    }
    p {
      position: absolute;
      right: 0;
      font-weight: 500;
      font-size: 2.5em;
      color: #fff;
      line-height: 1em;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-left: 50em solid $azul-2;
      border-top: 25em solid transparent;
      border-bottom: 25em solid transparent;
      transform: rotate(35deg) translate(5em, 11em);
    }
  }

  @media (max-width: 991px) {
    .identidad,
    .campana,
    .digital {
      overflow: hidden;
      .container-fluid .row {
        transform: scale(1.5);
      }
    }
    .digital {
      .container-fluid .row {
        transform: scale(1.5) translateX(8%);
      }
    }
    /*
    .identidad {
      .parallax {
        background-position: 82% 50%;
        background-size: 48%;
      }
    }
    .campana {
      .parallax-2 {
        background-position: 72% 50%;
        background-size: 22%;
    
      }
    }
    .digital {
      .parallax-3 {
        background-position: 70% 50%;
        background-size: 40%;
      }
    }*/
  }
  @media (max-width: 577px) {
    .identidad {
      .parallax {
        background-position: 92% 49%;
        background-size: 50%;
      }
      &::before {
        width: 60em;
        height: 60em;
      }
    }
  }

  .section-5 {
    h2 {
      color: $rojo-1;
      font-weight: 300;
      font-size: 5em;
    }
    strong {
      font-weight: 900;
      font-size: 1.7em;
    }
  }
  .section {
    .imagen {
      visibility: hidden;
    }
  }

  @media (max-width: 767px) {
    .section-5 {
      h2 {
        font-size: 8em;
      }
    }
  }
}

@for $i from 1 through 120 {
  $width: $i * 10px;
  $font-size: $i * 10/120;
  @media (min-width: $width) {
    .identidad,
    .campana,
    .digital,
    .section-5 {
      font-size: #{$font-size}px;
    }
  }
}
.isIpad,
.isIphone {
  .home {
    .section {
      .imagen {
        visibility: visible;
      }
      .parallax,
      .parallax-2,
      .parallax-3 {
        background: none !important;
        background-image: none !important;
      }
    }
  }
}
