@import "variables";

nav {
  .navbar-brand {
  }
  .navbar-toggler {
    z-index: 1;
  }
  .navbar-nav {
    text-transform: uppercase;
    .nav-item {
      .nav-link {
        font-size: 1.7em;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 1.1em;
      }
      color: $rojo-1;
      &:nth-child(2n) {
        color: $verde-3;
      }
      &:nth-child(3n) {
        color: $azul-2;
      }
      &:nth-child(4n) {
        color: $gris-2;
      }
      a {
        font-weight: bold;
        color: inherit !important;
      }
    }
  }
  .navbar-collapse {
    font-size: 48px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transition: 1s cubic-bezier(0.5, -0.5, 0.5, 1.5);
    background: linear-gradient(
      to right,
      #fff,
      #fff 25%,
      $gris-1 25%,
      #fff 25%,
      $gris-1 25%,
      $gris-1 100%,
      $gris-1 100%
    );
    &.collapsing {
      transition: 1s cubic-bezier(0.5, -0.5, 0.5, 1.5);
    }
    .row {
      height: 100%;
    }
  }
  .navbar-toggler {
    width: 1.5em;
    height: 2em;
    position: relative;
    border: 0;
    width: 42px;
    &.collapsed + .navbar-collapse {
      transform: translateX(100%);
    }

    &::after,
    &::before {
      content: "";
      height: 0.1em;
      width: 100%;
      position: absolute;
      top: 0.95em;
      background-color: $gris-2;
      transform: rotate(45deg);
      left: 0;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &.collapsed {
      &::after,
      &::before {
        transform: none;
        left: 0;
      }

      &::after {
        top: 0.6em;
      }

      &::before {
        top: 1.1em;
      }
    }
  }
  @media (max-width: 767px) {
    .navbar-nav {
      .nav-item .nav-link {
        font-size: 2em;
        line-height: 1.5em;
      }
    }
  }
  .col-3 img.d-inline-block.align-top {
    height: 90px;
  }
}

@for $i from 1 through 120 {
  $width: $i * 10px;
  $font-size: $i * 10/25;
  @media (min-width: $width) {
    nav .navbar-nav {
      font-size: #{$font-size}px;
    }
  }
}
