@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "navbar";
@import "home";
@import "page";
@import "contact";
@import "about";
@import "work";
@import "custom";

body {
  font-family: "Charlevoix Pro";
  padding-top: 56px;
}

.footer-fixed,
.footer-bottom,
.footer-absolute {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  color: $gris-2;
  background: #f8f9fa;
  font-size: 16px !important;
  padding: 0 2em;
  a {
    font-size: 16px !important;
    color: inherit !important;
  }
  & > div {
    height: 100%;
  }
  @media (max-width: 575px) {
    font-size: 10px !important;
  }
}
.footer-bottom {
  position: initial;
}

.footer-absolute {
  position: absolute;
}

.bg-video {
  a {
    cursor: pointer;
    content: "";
    position: absolute;
    bottom: 4em;
    left: 0;
    right: 0;
    text-align: center;
    transform: rotate(-135deg);
    width: 3em;
    height: 3em;
    border-color: #fff;
    border-width: 3px 0 0 3px;
    border-style: solid;
    margin: auto;
    animation-name: flecha;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes flecha {
    0% {
      transform: translateY(-4em) rotate(-135deg);
    }
    80% {
      transform: translateY(0) rotate(-135deg);
    }
    100% {
      transform: translateY(-4em) rotate(-135deg);
    }
  }
}