@import "variables";

.work {
  padding-top: 70px;
  .embed-responsive {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  a.embed-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    background-size: 103% 103%;
    &::after {
      content: "";
      background-color: inherit;
      border-radius: 50%;
      height: 0%;
      width: 0%;
      position: absolute;
      z-index: 0;
      opacity: 0.75;
      transition-duration: 0.3s;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
    span {
      position: relative;
      z-index: 1;
      width: 35%;
      display: block;
      text-align: center;
      font-size: 1.7em !important;
      opacity: 0;
      transition-duration: 0.3s;
      text-transform: uppercase;
    }
    &:hover,
    &:active,
    &:focus {
      font-weight: bold;
      span {
        opacity: 1;
      }
      &::after {
        height: 40%;
        width: 40%;
      }
    }
  }
}

.work-single {
  h6 {
    letter-spacing: 2.7pt !important;
    color: #787475 !important;
  }
  .navigator {
    min-height: 15em;
    padding: 2em 0;
    a,
    .span {
      display: block;
      text-align: center;
      color: $rojo-1;
      font-size: 2em;
      line-height: 1.2em;
      text-decoration: none;
      font-weight: bold;
    }
    a.span {
      font-weight: normal;
    }
  }
}
@media (max-width: 575px) {
  .work {
    font-size: 0.5em;
    a.embed-responsive {
      &:hover,
      &:active,
      &:focus {
        &::after {
          height: 80%;
          width: 80%;
        }
        span {
          width: 75%;
        }
      }
    }
  }
}
@for $i from 36 through 120 {
  $width: $i * 16px;
  $font-size: $i * 16/120;
  @media (min-width: $width) {
    .work {
      font-size: #{$font-size}px;
    }
  }
}
.isNotIpad {
  .wp-block-video {
    //pointer-events: none;

    
    *::-webkit-media-controls-panel {
      display: none !important;
      -webkit-appearance: none;
    }

    *::-webkit-media-controls-play-button {
      display: none !important;
      -webkit-appearance: none;
    }

    *::-webkit-media-controls-start-playback-button {
      display: none !important;
      -webkit-appearance: none;
    }
  }
}
.isIphone{
  .wp-block-video {
    //opacity: 0;
    //animation: videoloco 1s 7s forwards;
  }
  @keyframes videoloco {
    from{
     opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
}
